@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$light-bg: #dce3e5;
$gray: #91a4b0;
$behance: #0056ff;
$primary-color: #4361ee;
$secondary-color: #ff0a54;
$dark-color: #1b1b1e;
$green: #2dcc70;
$red: #ff006e;
$yellow: #8338ec;
$blue: #3a86ff;
$background-color: linear-gradient(to top, #f2f3f4, #fff);
$border-radius: 0.25em;
$mobile: 414px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1400px;
$ultrawide: 2000px;
@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$laptop}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin ultrawide {
  @media (min-width: #{$ultrawide}) {
    @content;
  }
}

body,
html {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

body {
  color: $dark-color;
  background-color: $dark-color;
  background-image: $background-color;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

%bgfullpage {
  width: 100%;
  min-height: 100%;
}
%bgcover {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
%centerstuff {
  display: flex;
  align-items: center;
  justify-content: center;
}

%easeback {
  transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: white;
}

a {
  color: inherit;
}

.container {
  margin: 0 auto;
  width: 75%;
}

.script-container {
  display: none;
}
.abs {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  object-fit: contain;
}
.passthrough {
  pointer-events: none;
}
.multiply-container {
  pointer-events: none;
  z-index: 20;
  background-color: $dark-color;
  opacity: 0.65;
  transition: opacity 0.3s ease;
}
.multiply-container.faded {
  opacity: 0;
  transition: opacity 1s ease-out;
}
.multiply-container.none {
  display: none;
}
.init-container {
  background-color: $dark-color;
  z-index: 50;
}
.fade-container {
  z-index: 20;
}
.bg-container {
  z-index: 10;
}
.black {
  width: 100%;
  height: 100%;
  background-color: $dark-color;
  transition: all 0.1s ease;
}
.black.faded {
  opacity: 0;
  transition: all 0.3s ease;
  mix-blend-mode: multiply;
}
.video-container {
  width: 100vw;
  height: 100vh;
  @extend %centerstuff;
  background-color: black;
  video {
    @extend %bgfullpage;
    object-fit: cover;
  }
  #rj {
    min-width: 100vw;
    min-height: 100vh;
  }
  .v002 {
    pointer-events: all;
  }
  .bg01 {
    @extend %bgfullpage;
    @extend %bgcover;
    background-image: url("../images/aboutbg.jpg");
  }
}
.glass-container {
  @extend %centerstuff;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 40;
  #glassmorphism {
    @extend %centerstuff;
    width: 90%;
    height: 95%;
    max-height: 600px;
    stroke: 2px;
    background-image: radial-gradient(circle at top left, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.025));
    border-radius: 1em;
    backdrop-filter: blur(15px);
    border: 2px ridge rgba($light-bg, $alpha: 0.25);
    box-shadow: 0 0.1em 1em rgba($dark-color, $alpha: 0.15);
    transition: all 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
    animation: enter 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
    @include tablet {
      height: 65%;
      max-width: $laptop;
      max-height: none;
    }
    @keyframes enter {
      from {
        opacity: 0;
        transform: translateY(-10em);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
    .content-container {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 20;
      @extend %centerstuff;
    }
    .texture {
      z-index: 10;
      width: 100%;
      height: 100%;
      background-image: url("../images/texture.png");
      opacity: 0.075;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    #content {
      height: 90%;
      max-height: 700px;
      @include tablet {
        height: 80%;
      }
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      color: white;
      z-index: 20;
      ul {
        pointer-events: all;
      }
      h4 {
        font-weight: $semibold;
        text-transform: uppercase;
        letter-spacing: 0.25em;
        font-size: 1em;
        opacity: 0.5;
      }
      .title-container {
        display: flex;
        align-items: center;
        h2 {
          font-size: 2em;
          font-weight: $medium;
          @include laptop {
            font-size: 3em;
          }
        }
        h1 {
          font-size: 2em;
          font-weight: $semibold;
          @include laptop {
            font-size: 3em;
          }
        }
      }
      p {
        font-weight: $light;
        letter-spacing: 0.025em;
        font-size: 0.75em;
        width: 80%;
        text-align: center;
        @include tablet {
          font-size: 1.25em;
        }
        @include laptop {
          font-size: 1.1em;
        }
      }
    }
  }
}
.glass-container.hide {
  #glassmorphism {
    transform-origin: top;
    transform: translateY(95%);
    @include tablet {
      transform: translateY(115%);
    }
  }
}
.minifier-container {
  pointer-events: all;
  position: absolute;
  z-index: 50;
  top: 1em;
  right: 1em;
  padding: 1.25em;
  @include tablet {
    top: 1em;
    right: 1em;
  }
  .minify-icon-container {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background-color: rgba($light-bg, $alpha: 0.15);
    transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
    &:hover {
      // box-shadow: 0 0 0 .1em inset rgba($light-bg, $alpha: 1.0);
      box-shadow: 0 0 1em inset rgba($light-bg, $alpha: 0.5);
      background-color: rgba($light-bg, $alpha: 0.35);
      transition: all 0.3s ease;
    }
    .icon {
      height: auto;
      width: 100%;
      display: flex;
      justify-content: space-between;
      transform: translateY(-0.25em) scale(0.65);
      transition: all 0.3s ease;
    }
    .icon.up {
      transform: translateY(0.25em) scale(0.65);
      transition: all 0.3s ease;
      .line.left {
        transform: translateX(0.35em) rotate(-45deg);
        transition: all 0.3s ease;
      }
      .line.right {
        transform: translateX(-0.35em) rotate(45deg);
        transition: all 0.3s ease;
      }
    }
    .line {
      height: 0.25em;
      border-radius: 0.125em;
      width: 47.5%;
      background-color: $light-bg;
    }
    .line.left {
      transform-origin: top left;
      transform: translateX(0.55em) rotate(45deg);
      transition: all 0.3s ease;
    }

    .line.right {
      transform-origin: top right;
      transform: translateX(-0.55em) rotate(-45deg);
      transition: all 0.3s ease;
    }
  }
}

//home
.home #content {
  height: 50%;
  .avatar-container {
    display: none;
    position: relative;
    height: 7.5em;
    width: 7.5em;
    margin: 2em 0;
    @include laptop {
      display: grid;
    }
    &:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%) scale(1.05);
      border: 0.4em solid $light-bg;
    }
    .img {
      @extend %bgcover;
      background-image: url("../images/neo-wen-kiong.jpg");
      height: 100%;
      width: 100%;
      border-radius: 50%;
    }
  }
  p {
    margin: 1em 0;
  }
  ul.fields {
    display: flex;
    flex-direction: row;
    margin: 1.25% 0;
    @include tablet {
      align-items: center;
    }
    li {
      cursor: default;
      font-size: 1em;
      background-color: rgba($dark-color, $alpha: 0.35);
      font-size: 0.75em;
      height: 2.5em;
      margin: 0 0.25em;
      padding: 0 1em;
      height: 2.2em;
      border-radius: 1.1em;
      @extend %centerstuff;
      @include tablet {
        font-size: 0.9em;
      }
      transition: all 0.3s ease;
      &:hover {
        background-color: rgba($primary-color, $alpha: 1);
      }
    }
  }
  ul.companies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    li {
      object {
        height: 2em;
        padding: 0.25em;
        opacity: 0.55;
        transition: all 0.3s ease;
        border-radius: $border-radius;
        @include tablet {
          height: 5em;
          padding: 1em;
        }
        &:hover {
          opacity: 1;
          transition: all 0.3s ease;
        }
      }
    }
  }
}
//work
.work #content {
  ul.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    li {
      width: 40%;
      margin: 0.5em 1%;
      @include tablet {
        width: 22.5%;
      }
      .project-thumbnails {
        cursor: pointer;
        border-radius: $border-radius;
        width: 100%;
        height: 6em;
        box-shadow: 0 0.1em 1em rgba($dark-color, $alpha: 0.5);
        @extend %bgcover;
        @extend %easeback;
        @include tablet {
          height: 10em;
        }
        &:hover {
          transform: scale(1.1);
          @extend %easeback;
        }
      }
      #fleet {
        background-image: url("../images/proj-fleet.jpg");
      }
      #suite {
        background-image: url("../images/proj-suite.jpg");
      }
      #retail {
        background-image: url("../images/proj-retail.jpg");
      }
      #fit {
        background-image: url("../images/proj-fit.jpg");
      }
    }
  }
  .view-more {
    cursor: pointer;
    pointer-events: all;
    background-color: rgba($light-bg, $alpha: 0.15);
    border-radius: $border-radius;
    display: flex;
    align-items: center;
    padding: 1em;
    transition: all 0.3s ease;
    font-size: 0.8em;
    @include tablet {
      font-size: 1em;
    }
    &:hover {
      background-color: rgba($light-bg, $alpha: 0.25);
      transition: all 0.3s ease;
    }
    &:hover .fas {
      transform: translateX(0);
      transition: all 0.3s ease;
    }
    .be-container {
      @extend %centerstuff;
      border-radius: $border-radius;
      padding: 0.5em;
      background-color: $behance;
    }
    h3 {
      margin: 0 1em;
      font-size: 1em;
      font-weight: $medium;
    }
    .fab {
      font-size: 1.15em;
    }
    .fas {
      transform: translateX(-0.35em);
      transition: all 0.3s ease;
    }
  }
}

//animated
.animated #content {
  ul.animated {
    display: flex;
    flex-wrap: wrap;
    @extend %centerstuff;
    width: 100%;
    li {
      margin: .25em;
      transition: all 0.3s ease;
      @include tablet {
        margin: .75em;
      }
      &:hover {
        transform: scale(1.2);
        transition: all 0.3s ease;
      }
      .animated-logo-container {
        border-radius: $border-radius;
        overflow: hidden;
        width: 7em;
        height: 5em;
        @include tablet {
          width: 12em;
          height: 8em;
        }
        video {
          @extend %bgcover;
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .view-more {
    cursor: pointer;
    pointer-events: all;
    background-color: rgba($light-bg, $alpha: 0.15);
    border-radius: $border-radius;
    display: flex;
    align-items: center;
    padding: 1em;
    transition: all 0.3s ease;
    font-size: 0.8em;
    @include tablet {
      font-size: 1em;
    }
    &:hover {
      background-color: rgba($light-bg, $alpha: 0.25);
      transition: all 0.3s ease;
    }
    &:hover .fas {
      transform: translateX(0);
      transition: all 0.3s ease;
    }
    .yt-container {
      @extend %centerstuff;
      border-radius: $border-radius;
      padding: 0.5em;
      background-color: $red;
    }
    h3 {
      margin: 0 1em;
      font-size: 1em;
      font-weight: $medium;
    }
    .fab {
      font-size: 1.15em;
    }
    .fas {
      transform: translateX(-0.35em);
      transition: all 0.3s ease;
    }
  }
}
