@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&family=Barlow:wght@400;600;700&display=swap");
* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  z-index: 3;
  width: 85%;
  margin: 0 auto;
  max-width: 1024px;
}

html,
body {
  font-family: "Barlow", sans-serif;
}

body {
  background-color: white;
}

main {
  background-color: #e9ecef;
}

header {
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#343a40), to(#212529));
  background-image: linear-gradient(#343a40, #212529);
  color: white;
  overflow-x: hidden;
}

.hero-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 3px;
  background-image: -webkit-gradient(linear, left top, right top, from(#8338ec), color-stop(#6247aa), to(#a06cd5));
  background-image: linear-gradient(to right, #8338ec, #6247aa, #a06cd5);
}

.hero {
  position: relative;
  height: 50vh;
}

@media (min-width: 768px) {
  .hero {
    height: 55vh;
  }
}

.hero-left {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
}

.hero-right {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  background-image: url("images/h210i-01.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
}

@media (min-width: 1024px) {
  .hero-right {
    -webkit-transform: none;
            transform: none;
    background-position-x: right;
  }
}

h3.branding {
  cursor: pointer;
  padding: 0.75em 0;
  display: block;
  font-weight: 600;
}

h3.branding span {
  font-weight: 400;
  color: #8338ec;
}

h1.title {
  font-size: 3em;
  letter-spacing: 0.04em;
}

@media (min-width: 1024px) {
  h1.title {
    font-size: 4em;
  }
}

.case .nzxt-brand {
  border-radius: 6px;
  display: inline-block;
  padding: .5em .75em;
  background-color: #6247aa;
}

.case img {
  height: 10px;
}

.description {
  line-height: 1.4em;
  width: 65%;
  font-size: 0.85em;
}

@media (min-width: 1024px) {
  .description {
    width: 52.5%;
    font-size: 1.2em;
  }
}

.poweredby {
  width: 42.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .poweredby {
    width: 25%;
  }
}

.poweredby img {
  height: 20px;
}

@media (min-width: 1024px) {
  .poweredby img {
    height: 30px;
  }
}

a.view {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 600;
  background-color: #8338ec;
  border-radius: 6px;
  color: white;
  padding: 1em;
  margin-bottom: 2em;
}

section h2 {
  text-transform: uppercase;
  font-weight: 800;
}

h2.label {
  letter-spacing: 0.05em;
  color: #adb5bd;
}

@media (min-width: 1024px) {
  h2.label {
    padding: .5em 0;
    font-size: 1.8em;
    opacity: .75;
  }
}

.overview h2 {
  opacity: 0.25;
}

.overview ul {
  padding-bottom: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.overview ul li.hide-mobile {
  display: none;
}

@media (min-width: 768px) {
  .overview ul li.hide-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.overview ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1024px) {
  .overview ul li {
    font-size: 1.5em;
  }
}

.overview ul li span.sub {
  margin: 0.75em 0;
  font-size: .65em;
  opacity: 0.45;
}

.overview ul li span.main {
  font-size: 1.1em;
  font-weight: 800;
}

.overview ul li span.divider {
  width: 2px;
  height: 40%;
  background-color: #343a40;
}

section.parts {
  padding: 1.5em 0;
}

section.parts h3.type {
  border-radius: 6px;
  display: inline-block;
  margin-top: 1em;
  color: white;
  padding: .5em .75em;
  background-color: rgba(52, 58, 64, 0.3);
  letter-spacing: .2em;
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
}

.warranted {
  color: #a06cd5;
}

.part {
  color: #212529;
  border-radius: 6px;
  background-color: white;
  padding: 0.5em 1em;
  margin: 1em 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (min-width: 1024px) {
  .part {
    padding: 1em 2em;
  }
}

.part:hover {
  -webkit-box-shadow: 0 0 2em 0 rgba(33, 37, 41, 0.2);
          box-shadow: 0 0 2em 0 rgba(33, 37, 41, 0.2);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.part i {
  padding-right: .65em;
}

.part .thumbnail {
  cursor: pointer;
  margin: 0.5em 0;
  width: 100%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 1024px) {
  .part .thumbnail {
    min-height: 12.5em;
  }
}

.part .product-block {
  margin-left: 1.5em;
}

@media (min-width: 1024px) {
  .part .product-block {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-grid-rows: (1fr)[3];
    -ms-grid-columns: 1fr 2em 1fr;
        grid-template: repeat(3, 1fr)/1fr 2em 1fr;
    font-size: 1.3em;
  }
}

.part .product-block div {
  margin: 0.5em 0;
}

.part .product-block span {
  margin: 0.25em 0;
  display: block;
  font-weight: 600;
  font-size: 0.8em;
}

.part .product-block span a {
  color: #8338ec;
}

.part .product-block i.activated {
  color: #0ead69;
}

.part .product-block i.unactivated {
  color: rgba(52, 58, 64, 0.25);
}

.part .product-block .sub {
  font-weight: 600;
  opacity: 0.75;
}

.part .product-block .green {
  color: #0ead69;
}

.part .product-block .red {
  color: #ef233c;
}

@media (min-width: 1024px) {
  .part .product-block .title-block {
    font-size: 1.25em;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
}

.part .product-block .title-block h1 {
  margin-bottom: 0.25em;
  font-size: 1em;
}

.part .product-block .title-block h3 {
  opacity: 0.5;
  font-weight: 600;
  font-size: 0.75em;
}

.part .product-block .flex-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.part .product-block .price-block p {
  font-size: .6em;
}

@media (min-width: 1024px) {
  .part .product-block .price-block {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
}

.part .product-block .price-block h2 {
  color: #8338ec;
  font-weight: 600;
  font-size: 1.5em;
}

.part .product-block .vendor-block {
  font-weight: 600;
}

.part .product-block .vendor-block i {
  color: rgba(52, 58, 64, 0.85);
}

@media (min-width: 1024px) {
  .part .product-block .vendor-block {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
  }
}

@media (min-width: 1024px) {
  .part .product-block .purchase-block {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
  }
}

@media (min-width: 1024px) {
  .part .product-block .warranty-block {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/ 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
  }
}

section.total-cost {
  padding-bottom: 3em;
}

section.total-cost .cost-block {
  padding: .25em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

section.total-cost .total-pricing {
  color: #8338ec;
}

section.total-cost h2.cost-left {
  color: rgba(52, 58, 64, 0.75);
  font-size: 0.9em;
}

#cpu {
  background-image: url("images/ryzen-3700x.png");
}

#aio {
  background-image: url("images/kraken.png");
}

#mobo {
  background-image: url("images/asus-rogstrix-b550i.png");
}

#ram {
  background-image: url("images/corsair-vengence-lpx.png");
}

#nvme {
  background-image: url("images/samsung-evo970.png");
}

#hdd {
  background-image: url("images/seagate-barracuda.jpg");
}

#case {
  background-image: url("images/h210i.png");
}

#psu {
  background-image: url("images/evga-supernova.png");
}

#psu {
  background-image: url("images/evga-supernova.png");
}

#gpu {
  background-image: url("images/rtx-3080-founders-edition.png");
}
/*# sourceMappingURL=main.css.map */