@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap");

:root {
  --primary-color: #535bfe;
  --text-color: #6c757d;
  --bg-color: #f8f9fa;
  --bg-alt-color: #dee2e6;
  --white: #fff;
  --header-color: #2d3142;
  --accent-shadow: #535bfe;
}

$mobile: 414px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1400px;
$fourk: 2000px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

html,
body {
  font-size: 18px;
  overflow-x: hidden;
  font-family: "Nunito", sans-serif;
}

svg {
  fill: none;
  stroke: var(--header-color);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
  stroke-dasharray: 80;
}

h1 {
  color: var(--primary-color);
  font-weight: 800;
}

h2 {
  color: var(--header-color);
  font-weight: 800;
  font-size: 1.5em;
}

h3 {
  color: var(--primary-color);
  font-size: 1.1em;
  margin: 0.3em 0;
}

p {
  padding: 0 1.7em;
  color: var(--text-color);
  font-size: 0.8em;
}
.svg-container {
  display: none;
}
.container {
  width: 85%;
  margin: 0 auto;
  max-width: $mobile;
}
.image-container,
.video-container {
  display: flex;
  justify-content: center;
}

.video-container {
  overflow: hidden;
}

.small-icon {
  width: 2.25em;
  height: 2.25em;
}

.whitespace {
  max-width: 30em;
  margin: 2em auto;
}

header {
  padding: 1.4em 0 1.4em 0;
  text-align: center;
  h1 {
    font-size: 2.4em;
  }
}

section {
  padding-top: 2em;
  font-size: 0.9em;
  text-align: center;
  overflow: hidden;
}

section.hero {
  padding-bottom: 0 !important;
  background-color: var(--bg-color);
  #img001 {
    height: 60vh;
    img {
      height: 60vh;
    }
  }
}

section.service {
  ul {
    margin: 2em 0;
  }
  li {
    display: flex;
    margin: 2.5em 0;
  }
  .icon-container {
    overflow: hidden;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 6em;
    min-height: 6em;
    background-color: var(--white);
    border-radius: 1em;
    box-shadow: 0 0.25em 0.75em rgba($color: #000, $alpha: 0.075);
  }
  .icon {
    transform: translateY(0.25em) translateX(0.25em);
    position: relative;
    z-index: 1;
    &:before {
      z-index: -1;
      content: "";
      position: absolute;
      left: -0.25em;
      top: -0.25em;
      width: 1.5em;
      height: 1.5em;
      border-radius: 50%;
      background-color: var(--primary-color);
      transform-origin: 50% 100%;
      animation: rotateMe 10s alternate infinite;
      @keyframes rotateMe {
        from {
          transform: rotateZ(180deg);
        }
        to {
          transform: rotateZ(0deg);
        }
      }
    }
  }
  .text-container {
    z-index: 1;
    position: relative;
    margin-left: 1.5em;
    text-align: left !important;
    h3 {
      font-weight: 800;
      font-size: 1.1em;
    }
    p {
      padding: 0 !important;
    }
  }
}

section.store {
  background-color: var(--primary-color);
  .image-container {
    width: 65%;
    margin: 0 auto;
    justify-content: space-between;
  }
  img {
    width: 6em;
    padding-bottom: 2em;
  }
}

section.errand {
  background-color: var(--bg-color);
  #img002 {
    height: 25vh;
    img {
      height: 80vh;
    }
  }
}

section.track {
  #img003 {
    transform: translateY(-15%);
    height: 40vh;
    img {
      height: 60vh;
    }
  }
}

section.order {
  background-color: var(--primary-color);
  h2,
  h3 {
    color: var(--white);
  }
  h3 {
    font-weight: 600;
    opacity: 0.5;
  }
  video {
    height: 80vh;
  }
}

section.download {
  #img004 {
    margin-top: 2em;
    height: 55vh;
    img {
      height: 50vh;
    }
  }
}
