@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&family=Barlow:wght@400;600;700&display=swap");
* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
$light: #e1e5ee;
$bgcolor: #e9ecef;
$darkest: #212529;
$darkest2: #343a40;
$accent: #8338ec;
$accent2: #6247aa;
$accent3: #a06cd5;
$accent4: #7400b8;
$red: #ef233c;
$green: #0ead69;
$green2: #83e377;
$radius: 6px;
$mobile: 414px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1400px;
$fourk: 2000px;
@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$laptop}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin fourk {
  @media (min-width: #{$fourk}) {
    @content;
  }
}

@mixin rwd($screen) {
  @media (min-width: $screen+"px") {
    @content;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(50%);
    opacity: 1;
  }
}
@keyframes slideInFromLeftLaptop {
  from {
    transform: translateX(30%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.clickable {
  cursor: pointer;
}

.container {
  z-index: 3;
  width: 85%;
  margin: 0 auto;
  max-width: $laptop;
}

html,
body {
  overflow-x: hidden;
  font-family: "Barlow", sans-serif;
}

body {
  background-color: white;
}
main {
  background-color: $bgcolor;
}

header {
  position: relative;
  background-image: linear-gradient($darkest2, $darkest);
  color: white;
  overflow-x: hidden;
}
// .hero-slash {
//   visibility: hidden;
//   z-index: 1;
//   position: absolute;
//   left: 50%;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   transform: skewX(60deg) translateX(50%);
//   background-image: linear-gradient(to left, $accent, $accent2);
//   animation: slideInFromLeftBG 1s ease forwards;
//   @include tablet {
//     visibility: visible;
//   }
// }

.hero-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/IMG_7775.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  filter: brightness(30%);
  // background-image: linear-gradient(to right, $accent, $accent2, $accent3);
}
.hero {
  position: relative;
  height: 50vh;
  @include tablet {
    height: 55vh;
  }
}
.hero-left {
  position: relative;
  z-index: 10;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.hero-right {
  // display: none;
  z-index: 2;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(50%);
  // background-image: url("images/h210i-01.png");
  background-image: url("images/mybuild.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
  animation: slideInFromLeft 1s ease;
  @include laptop {
    transform: none;
    animation: slideInFromLeftLaptop 1.5s ease;
    background-position-x: right;
  }
}
h3.branding {
  cursor: pointer;
  padding: 0.75em 0;
  display: block;
  font-weight: 600;
  span {
    font-weight: 400;
    color: $accent;
  }
}
h1.title {
  font-size: 3em;
  letter-spacing: 0.04em;
  @include laptop {
    font-size: 4em;
  }
}
.case {
  animation: fadeIn 2s ease forwards;
  .nzxt-brand {
    border-radius: $radius;
    display: inline-block;
    padding: .5em .75em;
    background-color: $accent2;
  }
  img {
    height: 10px;
  }
}
.description {
  opacity: 0;
  line-height: 1.4em;
  width: 65%;
  font-size: 0.85em;
  animation: fadeIn 1.5s ease forwards;
  animation-delay: .1s;
  @include tablet {
    font-size: 1.1em;
  }
  @include laptop {
    width: 52.5%;
    font-size: 1.2em
  }
}
.poweredby {
  opacity: 0;
  width: 42.5%;
  display: flex;
  justify-content: space-between;
  animation: fadeIn 1.5s ease forwards;
  animation-delay: .1s;
  @include tablet {
    width: 35%;
  }
  @include laptop {
    width: 30%
  }
  img {
    height: 20px;
    @include tablet {
      height: 30px;
    }
  }
}
a.view {
  width: fit-content;
  display: block;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 600;
  background-color: $accent;
  border-radius: $radius;
  color: white;
  padding: 1em;
  margin-bottom: 2em;
}
section h2 {
  text-transform: uppercase;
  font-weight: 800;
}

h2.label {
  letter-spacing: 0.05em;
  color: #adb5bd;
  @include laptop {
    padding: .5em 0;
    font-size: 1.8em;
    opacity: .75;
  }
}
.overview h2 {
  opacity: 0.25;
}
.overview {
  z-index: 5;
}
.overview ul {
  position: relative;
  z-index: 5;
  padding-bottom: 1.5em;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  li.hide-mobile {
    display: none;
    @include tablet {
      display: flex;
    }
  }
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include tablet {
      font-size: 1.25em;
    }
    @include laptop {
      font-size: 1.5em;
    }
    span.sub {
      margin: 0.75em 0;
      font-size: .65em;
      opacity: 0.45;
    }
    span.main {
      font-size: 1.1em;
      font-weight: 800;
    }
    span.divider {
      width: 2px;
      height: 40%;
      background-color: $darkest2;
    }
  }
}

section.parts {
  padding: 1.5em 0;
  h3.type {
    border-radius: $radius;
    display: inline-block;
    margin-top: 1em;
    padding: .5em .75em;
    color: white;
    letter-spacing: .2em;
    font-size: 0.8em;
    font-weight: 600;
    text-transform: uppercase;
    background-color: rgba($color: $darkest2, $alpha: .3);
    transition: all .3s ease;
  }
  h3.selected {
    background-color: $accent;
    transition: all .3s ease;
  }
  h3.selectedhover {
    background-color: $accent;
    transition: all .3s ease;
  }
}

.warranted {
  color: $accent3;
}
.part.selected {
  box-shadow: 0 .5em 4em rgba($color: $darkest, $alpha: .5);
  transition: all 0.3s ease;
}
.part {
  color: $darkest;
  border-radius: $radius;
  background-color: white;
  padding: 0.5em 1em;
  margin: 1em 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  transition: all 0.3s ease;
  @include laptop {
    padding: 1em 2em;
  }
  &:hover {
    box-shadow: 0 .5em 4em rgba($color: $darkest, $alpha: .5);
    transition: all 0.3s ease;
  }
  i {
    padding-right: .65em;
  }
  .thumbnail {
    position: relative;
    cursor: pointer;
    margin: 0.5em 0;
    width: 100%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all .2s ease;
    @include laptop {
      min-height: 10em;
    }
    &:hover {
      transform: scale(1.1);
      transition: all .2s ease;
    }
  }
  .product-block {
    margin-left: 1.5em;
    @include tablet {
      display: grid;
      align-items: flex-start;
      grid-template: repeat(3, auto) / 1fr 2em 1fr;
    }
    @include laptop {
      font-size: 1.3em;
    }
    // div {
    //   margin: 0.5em 0;
    // }
    span {
      margin: 0.25em 0;
      display: block;
      font-weight: 600;
      font-size: 0.8em;
      a {
        color: $accent;
      }
    }
    i.activated {
      color: $green;
    }
    i.unactivated {
      color: rgba($color: $darkest2, $alpha: .25)
    }
    .sub {
      font-weight: 600;
      opacity: 0.75;
    }
    .green {
      color: $green;
    }
    .red {
      color: $red;
    }
    .title-block {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: .25em 0;
      @include tablet {
        font-size: 1.25em;
        grid-row: 1 / 4;
        grid-column: 1 / 2;
      }
      h1 {
        margin-bottom: 0.25em;
        font-size: 1em;
      }
      h3 {
        opacity: 0.5;
        font-weight: 600;
        font-size: 0.75em;
      }
    }
    .flex-block {
      display: flex;
      align-items: center;
    }
    .price-block {
      margin: .5em 0;
      .currency {
        align-self: flex-start;
        color: rgba($color: $darkest, $alpha: .5);
        transform: translateY(20%);
        font-size: 1em;
      }
      p {
        font-size: .6em;
      }
      // @include tablet {
      //   align-self: center;
      //   grid-row: 3 / 4;
      //   grid-column: 1 / 2;
      // }
      // @include laptop  {
      //   align-self: center;
      //   grid-row: 3 / 4;
      //   grid-column: 1 / 2;
      // }
      h2 {
        color: $accent;
        font-weight: 600;
        font-size: 1.5em;
      }
    }
    .vendor-block {    
      margin: .25em 0;
      border-radius: $radius; 
      font-weight: 600;
      transition: all .3s ease;
      .vendor-icon {
        width: 1.2em;
        height: 1.2em;
        border-radius: $radius;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        margin-right: .65em;
      }
      .jy {
        background-image: url('images/jy.png');
      }
      .amazon {
        background-image: url("images/amazon.png");
      }
      .lazada {
        background-image: url("images/laz.png");
      }
      .viipc {
        background-image: url("images/viipc.png");
      }
      .cai {
        background-image: url('images/cai.png')
      }
      .allstar {
        background-image: url('images/allstar.png')
      }
      .techdeals {
        background-image: url('images/techdeals.jpg')
      }
      .dynacore {
        background-image: url("images/dynacore.png")
      }
      .pctheme {
        background-image: url("images/pctheme.png");
      }
      .bizgram {
        background-image: url('images/bizgram.jpg')
      }
      .carousell {
        background-image: url('images/carousell.png');
      }
      .shopee {
       background-image: url('images/shopee.png') 
      }
      .etechpc {
        background-image: url('images/etechpc.jpg');
      }
      .prime {
        width: 53px;
        height: 17px;
        background-image: url('images/prime.png');
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        margin: 0 .25em;
        transition: all .3s ease;
      }
      .vendor {
        display: flex;
        align-items: center;
        transition: all .3s ease;
        img {
          margin: 0 .25em;
          height: 17px;
        }
      }
      i {
        color: rgba($color: $darkest2, $alpha: .85)
      }
      @include tablet {
        color: white;
        padding: .75em .5em;
        background-image: linear-gradient(to top, $darkest, $darkest2);
        &:hover {
          background-image: linear-gradient(to top, $accent4, $accent);
          color: white;
          transition: all .3s ease;
        }
        // &:hover .prime {
        //   filter: brightness(0) invert(1);
        //   transition: all .15s ease;
        // }
        &:hover .vendor {
          transform: translateX(5%);
          transition: all .3s ease;
        }
        grid-row: 1 / 2;
        grid-column: 3 / 4;
      }
    }
    .purchase-block { 
      margin: .25em 0;
      @include tablet {
        padding: .25em .5em;
        grid-row: 3 / 4;
        grid-column: 3 / 4;
      }
    }
    .warranty-block {
      margin: .25em 0;
      @include tablet {
        padding: .25em .5em;
        grid-row: 2/ 3;
        grid-column: 3 / 4;
      }
    }
  }

}

section.total-cost {
  padding-bottom: 3em;
  .cost-block {
    padding: .25em 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .total-pricing {
    color: $accent;
  }
  h2.cost-left {
    color: rgba($color: $darkest2, $alpha: .75);
    font-size: 0.9em;
  }
}
.flex-cost {
  display: flex;
  h2.currency {
    justify-self: flex-start;
    color: rgba($color: $darkest, $alpha: .5);
    transform: translateY(10%);
    font-size: 1em;
  }
}

//all thumbnails

#cpu {
  background-image: url("images/ryzen-3700x.png");
}
#aio {
  background-image: url("images/kraken-m22.png");
}
#mobo {
  background-image: url("images/asus-rogstrix-b550i.png");
}
#ram {
  background-image: url("images/corsair-vengence-lpx.png");
}
#nvme {
  background-image: url("images/samsung-evo-970-plus.png");
}
#ssd {
  background-image: url("images/samsung-evo-870.png");
}
#hdd {
  background-image: url("images/seagate-barracuda.jpg");
}
#case {
  background-image: url("images/h210i.png");
}
#psu {
  background-image: url("images/evga-supernova.png");
}
#gpu {
  background-image: url("images/rogstrix-2080ti.png");
}
#nzxtusbhub {
  background-image: url("images/nzxtusbhub.png");
}
#lg34gn850 {
  background-image: url("images/lg34gn850.jpg");
}
#fca800 {
  background-image: url("images/FC-A800.png");
}
.silentwings {
  background-image: url("images/silent-wings.png");
}
.silentwings120 {
  background-image: url("images/silent-wings-120mm.png");
}
.tecwareflex {
  background-image: url("images/tecware-flex.png");
}
#nzxthue2underglow {
  background-image: url("images/hue2-underglow.png");
}
#nzxthue2led {
  background-image: url("images/hue2strip.png");
}
#hue2ambient {
  background-image: url("images/hue2ambient.png");
}
